<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.hr.mapper.RegionMapper"><!-- ← 인터페이스이름이 들어감 -->
	<select id="selectRegionList" resultType="com.gd.hr.vo.Region"><!-- region에 있는걸 다 빼줄거라 다 받아줌-->
		SELECT
			region_id regionId,
			region_name regionName
		FROM regions
	</select>
	
	<insert id="insertRegion" parameterType="com.gd.hr.vo.Region">
		INSERT INTO regions (region_id,region_name) 
		VALUES (#{regionId},#{regionName})
	</insert> <!-- mvc에서는 원래 ?부분 getter부분 -->
	
	<delete id="deleteRegion" parameterType="int">
		DELETE FROM regions
		WHERE region_id= #{regionId} <!-- 아무거나 적어도되는데 그냥 넘겨받는거 적어주기 -->
	</delete>
	
	<update id="updateRegion" parameterType="com.gd.hr.vo.Region">
		UPDATE regions 
		SET region_name=#{regionName} 
		WHERE region_id=#{regionId}
	</update>
</mapper>